---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://unsplash.com/es/@charlesdeluvio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">charlesdeluvio</a> en <a href="https://unsplash.com/es/fotos/hombre-con-gorro-negro-kVg2DQTAK7c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Portfolio Card" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">

	<Card
  name="Muhammad Talha aka o21ex"
  position="Data Engineer | Hadoop | ETL/ELT | Python"
  aboutMe={`Passionate Data Engineer | Building Scalable Data Solutions
	I'm Talha, a dedicated and results-driven data engineer specializing in designing and implementing robust data pipelines to derive valuable insights. I thrive on managing and processing large-scale datasets to drive strategic business decisions and foster growth.
	`}
  linkedin="https://www.linkedin.com/in/muhammad-talha-ramzan"
  github="https://github.com/c2-tlhah"
  cvLink="/files/resume-cv.pdf"
  profileImage="/images/img.jpg"
/>
</BaseLayout>

<!--
	"Hi there!, I'm Brian. I hope this small template helps you gain visibility while you build great projects. Thank you for using it. I wish you success in everything you set out to do; you will surely achieve great things.

	Here is my GitHub {https://github.com/c2-tlhah}. You can help me by following me, giving a Star to the template, and sharing it so others can see and use it.

	Have a great day!"
 -->